.navbar-container{
  height: 70px;
  width: 100%;
  position: fixed;
  z-index: 999;
  background: white;
  font-family:  'Quicksand', sans-serif;
display: flex;
  justify-content: space-between;
  align-items: center;
  }

  .logo-container{
      padding-left:50px;
      font-size: 24px;
      font-weight: bolder;
      cursor: pointer;
  }

    h2 span{
    color:orangered ;
  }

  .nav-order{
    background: rgb(255, 253, 253);
    border: orangered 2px solid;
    border-radius: 5px;
    padding: 2px 6px 6px 6px;
    font-size: 13px;
    
  }

  
  .right-row{
padding-right: 50px;

  }

  .right-row :hover{
color: orangered;
  }

  .right-row a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: black;
  
  }

  .middle-row{
    display: flex;
   justify-content:space-between;
      }

  .middle-row a{
    margin:15px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-weight: 500;
    transition: 0.2s;

  }

  .middle-row :hover{
color: orangered;

  }